@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');



/*Header ++ Home Page*/
html,
body,
main,
header,
.img-bg {
    height: 100%
}

.img-bg {
    background: url("img/circle.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.social-links {
    padding-bottom: 15px;
}

.link li {
    list-style: none;
    width: 32px;
    height: 32px;    
    font-size: 21px;    
}

.links a {
    color: #fff;
    background-color: rgba(115, 174, 192, 0.84);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.border-h {
    border-radius: 0 0 0 50%;
}

.border-d {
    border-radius: 0 0 50% 0;
}

.links a:hover {
    color: rgb(255, 132, 132);
}

.link-position {
    display: inline-flex;
}



.git-color {
    color: rgb(251, 128, 210);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.git-color:hover {
    color:rgb(197, 57, 151);
}

.main-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.main-title-quote {
    font-family: "Courgette", sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    position: relative;
    top: 20vh;
    padding: 10px;
}
/*Header ++ Home Page*/

/*About*/


.bg-about {
    background: url("img/laptop2.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-me-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
main p {
    color: black;
    margin-top: 17px;
    font-size: 17px;
}

main h3 {
    color: black;
    font-family: "roboto", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}

.thought {
    position: relative;
    top:40%;
    font-family: "Courgette",sans-serif;
    letter-spacing: 1px;
}

.point-div-size {
    height: 225px;
}

.point-down {
    position: relative;
    left: 45%;
    top: 225px;
    font-size: 35px;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 50%;
    background-color: #86b8c8;

}


.what-i-use {
    background-color: #d8dfe5;
    border: 1px solid #d8dfe5;
    border-radius: 102px 0px 102px 0px;
    -moz-border-radius: 102px 0px 102px 0px;
    -webkit-border-radius: 102px 0px 102px 0px;
    border: 1px solid #d8dfe5;
    margin-top: 30px;
    padding-left: 12%;
}

.html {
    color: #e44d26;
}

.css {
    color: #264de4;
}

.js {
    color: #ffc107;
}
.my-work, h3 {
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-top: 15px;
}

.site1 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.site1 {
    background-color: rgb(202, 208, 220);
    padding: 20px 0;
    margin-bottom: 20px;
}

.site1 h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 10px 0;
}

.site1p {
    padding-top: 4%;
}

.site1p a {
    text-decoration: none;
    border-radius: 10%;
    padding: 5px 10px;
}

.button-live {
    color: #fff;
    margin-right: 10px;
    text-transform: uppercase;
    background-color: rgba(255, 54, 54, 0.8);
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.hvr-shutter-out-horizontal:before {
    background-color: rgba(0, 0, 0, 0.2);
}

.button-github {
    color: #fff;
    text-transform: uppercase;
    background-color: rgb(87, 188, 219);
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.project-description {
    margin: 10% 0;
}


/*About*/

/*Contact page*/

.bg-contact {
    background: url("img/lets_start.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact-position {
    margin-top: 130px;
}

textarea.form-control {
    min-height: 180px;
    width: 340px;
}

textarea {

    overflow: auto;
    resize: both;
}

.contact-main{
    margin: 0;
    padding: 0;
}

.form-input {
    width: 340px;
    margin: 20px 0 20px 20px;
}

.textarea-contact {
    margin: 20px;
}

.button {
    margin-left: 20px;
    border-radius: 10%;
    background-color: silver;
}
/*Contact page*/

/*Media queries*/

@media (max-width: 1024px) {
    .header-quote {
        top: 35%;
        left: 30%;
        
    }
}

@media (max-width: 768px) {
    .header-quote {
        top: 33%;
        left: 25%;
    }
}

@media (max-width: 414px) {
    .header-quote {
        top: 27%;
        left: 10%;
        width: 80%;
    }
}

@media (max-width: 375px) {
    .header-quote {
        top: 23%;
        left: 10%;
        width: 80%;
    }
}

@media (max-width: 414px) {
    .thought {
        z-index: -1;
    }
}

@media (max-width: 414px) {
    .site1 h4 {
        padding-top: 10%;
    }
}

@media (max-width: 414px) {
    .what-i-use {
        background-color: #d8dfe5;
        border: 1px solid #d8dfe5;
        margin-top: 30px;
        padding-left: 33%;
    }
}

@media (max-width: 414px) {
    .point-div-size {
        height: 100px;
    }
    .point-down {
        position: relative;
        left: 45%;
        top: 100px;
        font-size: 35px;
        padding: 10px;
        border-radius: 50%;     
    }
}
/*Media queries*/